<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title>
    <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css">
    <meta content="width=device-width" name="viewport">
  </head>
  <body>
    <h1><%= title %></h1>
    <%= yield %>
  </body>
</html>
