*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
lib/whipped-cream/public/assets/.sass-cache
lib/whipped-cream/public/assets/baseline.0.5.3
